-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: lab_management
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `equipment`
--

DROP TABLE IF EXISTS `equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text,
  `serial_number` varchar(50) NOT NULL,
  `manufacturer` varchar(100) DEFAULT NULL,
  `category` enum('computer','printer','projector','scanner','microscope','centrifuge','spectrophotometer','ph_meter','balance','incubator','autoclave','pipette','thermometer','glassware','safety_equipment','lab_equipment','network','network_equipment','other') NOT NULL,
  `lab_id` int NOT NULL,
  `location_details` varchar(200) DEFAULT NULL,
  `status` enum('available','in_use','maintenance','broken','retired') NOT NULL DEFAULT 'available',
  `condition_status` enum('excellent','good','fair','poor') NOT NULL DEFAULT 'good',
  `purchase_price` decimal(10,2) DEFAULT '0.00',
  `current_value` decimal(10,2) DEFAULT '0.00',
  `purchase_date` date NOT NULL,
  `warranty_expiry` date DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `model` varchar(100) DEFAULT NULL,
  `processor` varchar(100) DEFAULT NULL,
  `ram` varchar(50) DEFAULT NULL,
  `storage` varchar(100) DEFAULT NULL,
  `graphics_card` varchar(100) DEFAULT NULL,
  `operating_system` varchar(100) DEFAULT NULL,
  `resolution` varchar(50) DEFAULT NULL,
  `brightness` varchar(50) DEFAULT NULL,
  `contrast_ratio` varchar(50) DEFAULT NULL,
  `lamp_hours` int DEFAULT NULL,
  `print_type` varchar(100) DEFAULT NULL,
  `print_speed` varchar(100) DEFAULT NULL,
  `paper_size` varchar(100) DEFAULT NULL,
  `connectivity` varchar(200) DEFAULT NULL,
  `magnification` varchar(50) DEFAULT NULL,
  `objective_lenses` varchar(100) DEFAULT NULL,
  `illumination` varchar(100) DEFAULT NULL,
  `capacity` varchar(100) DEFAULT NULL,
  `power_rating` varchar(100) DEFAULT NULL,
  `temperature_range` varchar(100) DEFAULT NULL,
  `accuracy` varchar(100) DEFAULT NULL,
  `ports` varchar(100) DEFAULT NULL,
  `speed` varchar(100) DEFAULT NULL,
  `protocol` varchar(200) DEFAULT NULL,
  `stock_register_page` varchar(50) DEFAULT NULL COMMENT 'Stock register page number for tracking',
  PRIMARY KEY (`id`),
  KEY `idx_equipment_lab` (`lab_id`),
  KEY `idx_equipment_category` (`category`),
  KEY `idx_equipment_status` (`status`),
  KEY `idx_equipment_serial` (`serial_number`),
  KEY `idx_equipment_active` (`is_active`),
  KEY `equipment_lab_id` (`lab_id`),
  KEY `equipment_status` (`status`),
  KEY `equipment_category` (`category`),
  KEY `equipment_serial_number` (`serial_number`),
  KEY `equipment_created_by` (`created_by`),
  KEY `equipment_is_active` (`is_active`),
  KEY `equipment_condition_status` (`condition_status`),
  KEY `idx_serial_active` (`serial_number`,`is_active`),
  CONSTRAINT `equipment_ibfk_5` FOREIGN KEY (`lab_id`) REFERENCES `labs` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `equipment_ibfk_6` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=311 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment`
--

LOCK TABLES `equipment` WRITE;
/*!40000 ALTER TABLE `equipment` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-23 21:13:09
